@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@counter-style circled-decimal {
  system: fixed;
  symbols: "\24EA" "\2460" "\2461" "\2462" "\2463" "\2464" "\2465" "\2466"
    "\2467" "\2468" "\2469" "\246A" "\246B" "\246C" "\246D" "\246E" "\246F"
    "\2470" "\2471" "\2472" "\2473" "\3251" "\3252" "\3253" "\3254" "\3255"
    "\3256" "\3257" "\3258" "\3259" "\325a" "\325b" "\325c" "\325d" "\325e"
    "\325f" "\32b1" "\32b2" "\32b3" "\32b4" "\32b5" "\32b6" "\32b7" "\32b8"
    "\32b9" "\32ba" "\32bb" "\32bc" "\32bd" "\32be" "\32bf";
  /* symbols: '⓪' '①' '②' '③' '④' '⑤' '⑥' '⑦' '⑧' '⑨' '⑩' '⑪' '⑫' '⑬' '⑭' '⑮' '⑯' '⑰' '⑱' '⑲' '⑳' '㉑' '㉒' '㉓' '㉔' '㉕' '㉖' '㉗' '㉘' '㉙' '㉚' '㉛' '㉜' '㉝' '㉞' '㉟' '㊱' '㊲' '㊳' '㊴' '㊵' '㊶' '㊷' '㊸' '㊹' '㊺' '㊻' '㊼' '㊽' '㊾' '㊿'; */
  suffix: " ";
}

@counter-style filled-circled-decimal {
  system: fixed;
  symbols: "\2776" "\2777" "\2778" "\2779" "\277a" "\277b" "\277c" "\277d"
    "\277e" "\277f" "\24EB" "\24EC" "\24ED" "\24EE" "\24EF" "\24F0" "\24F1"
    "\24F2" "\24F3" "\24F4";
  /* symbols: '❶' '❷' '❸' '❹' '❺' '❻' '❼' '❽' '❾' '❿' '⓫' '⓬' '⓭' '⓮' '⓯' '⓰' '⓱' '⓲' '⓳' '⓴'; */
  suffix: " ";
}

@counter-style decimal-leading-zero {
  system: fixed -9;
  symbols: "\2D\30\39" "\2D\30\38" "\2D\30\37" "\2D\30\36" "\2D\30\35"
    "\2D\30\34" "\2D\30\33" "\2D\30\32" "\2D\30\31" "\30\30" "\30\31" "\30\32"
    "\30\33" "\30\34" "\30\35" "\30\36" "\30\37" "\30\38" "\30\39";
  /* symbols: '-09' '-08' '-07' '-06' '-05' '-04' '-03' '-02' '-01' '00' '01' '02' '03' '04' '05' '06' '07' '08' '09'; */
}

@counter-style super-decimal {
  system: numeric;
  symbols: "\2070" "\B9" "\B2" "\B3" "\2074" "\2075" "\2076" "\2077" "\2078"
    "\2079";
  /* symbols: '⁰' '¹' '²' '³' '⁴' '⁵' '⁶' '⁷' '⁸' '⁹'; */
}
